<footer>
    
    <div style="text-align: center; margin: auto;">
        <p>SmartHome - Зеленоград © 2018</p>
    </div>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="bootstrap/js/bootstrap.js"></script>
</footer>