<div id="parent_popup" style="display:none">
  <div id="popup">
    <a href="#" style="float:right; cursor:pointer; margin:0px;" onclick="hideLoginPopup();">Закрыть</a>
    <h2 class="form-signin-heading" style="-webkit-margin-before: 0px; -webkit-margin-after:10px;"> Вход </h2>
    <form class="form-signin" action="/register" method="post" name="loginForm">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="E-mail" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Пароль" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Чужой компьютер
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        <div style="margin-top:5px; text-align: center">
            <a href="register.html">Зарегистрироваться</a> 
        </div>
      </form>
  </div>
</div>



<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
    // Скрыть окно входа
    function hideLoginPopup() {
        document.getElementById('parent_popup').style.display='none';
    }

    // Переход к регистрации
    //function register() {
    //
    //}

    $("form").submit(function(e){
        // Не выполнять действие по-умолчанию
        e.preventDefault();
        // Извлекаем данные
        var loginForm = document.forms["loginForm"];
        var email = loginForm.elements["email"].value;
        var password = loginForm.elements["password"].value;
        // Отправляем запрос
        $.ajax({
            url: "/api/users/login",
            contentType: "application/json",
            method: "POST",
            data: JSON.stringify({
                email: email,
                pass: password,
            }),
            success: function(result){
                    console.log("result=" + result);
                if (result == "") {                    
                    alert("Не удалось выполнить вход!"+"\n"+"Проверьте корректность логина и пароля.");
                } else {
                    var user = result;
                    console.log("login success");
                    document.getElementById("menu-item-Login").style.display="none";
                    var menuItemUser = document.getElementById("menu-item-User-li");
                    var menuItemUserExit = document.getElementById("menu-item-User-exit");
                    hideLoginPopup();
                    menuItemUser.style.display="unset";
                    menuItemUserExit.style.display="unset";
                    $("#menu-item-User").html(user.name);

                    var cookieName = "myUserName"
                    setCookie(cookieName, user.name, 1);
                    console.log("67: " + document.cookie);
                    // TODO: авторизация выполненна успешно   
                }            
            },
            error: function(){
                alert("Не удалось выполнить вход!"+"\n"+"Проверьте корректность логина и пароля.");
            }
        });
    });
</script>