
<nav>  
    <ul class="menu-main">
        <li><a href="index.html">Главная</a></li>
        <li><a href="about.html">О нас</a></li>
        <li><a href="contacts.html">Контакты</a></li>
        <li id="menu-item-Login" onclick="showLoginPopup();"><a  href="#" >Вход</a></li>
        <li id="menu-item-User-li" style="display:none" ><a id="menu-item-User" href="user.html" >Пользователь</a></li>
        <li id="menu-item-User-exit" style="display:none"><a  href="#" onclick="exit();" >Выйти</a></li>
    </ul>
</nav>


{{> login}}

<script>
    // Показать окно входа
    function showLoginPopup() {
        document.getElementById('parent_popup').style.display='unset';
    }

    //выйти из аккаунта
    function exit() {
        deleteCookie("myUserName");
        var menuItemUser = document.getElementById("menu-item-User-li");
        var menuItemUserExit = document.getElementById("menu-item-User-exit");
        document.getElementById("menu-item-Login").style.display="unset";
        menuItemUser.style.display="none";
        menuItemUserExit.style.display="none";
    }

    //если существуют куки с юзером то входит в акк
    function LoginFromCookie(){
        if(getCookie("myUserName") != "" && getCookie("myUserName") != "null"){
            var menuItemUser = document.getElementById("menu-item-User-li");
            var menuItemUserExit = document.getElementById("menu-item-User-exit");
            document.getElementById("menu-item-Login").style.display="none";
            menuItemUser.style.display="unset";
            menuItemUserExit.style.display="unset";
            $("#menu-item-User").html(getCookie("myUserName"));
        }
    }

    LoginFromCookie();

    // возвращает cookie с именем name, если есть, если нет, то undefined
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    //устанавливает куки (имя, значение, срок хранения в днях)
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    // удаляет cookie
    function deleteCookie(name) {
        setCookie(name, null, { expires: -1 });
    }

</script>

