<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>SmartHome. О нас</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>

    <body>
        <div class="page">
            {{> menu}}
            <div id="content">
                <h1 style="text-align: center; margin: auto;"> О нас:</h1>
                
                <p class="page-text">
                    <ul class="page-ul">
                        <li>Автор идеи и разработчик: <br>
                            Ярослав Ермилов 
                            <p align="center">
                                <img style="margin: 0 auto" width="300" alt="Фото: Ярослав Ермилов" src="./image/Yaroslav.jpg">
                                <br/>
                            </p>
                        </li>
                        <li>Разработчик сайта: <br>
                            Авраимов Сергей 
                            <p align="center">
                                <a href="https://en.wikipedia.org/wiki/Opuntia" target="_blank"><img style="margin: 0 auto" width="300" alt="Фото: Сергей Авраимов" src="./image/Sergey.jpg"></img></a>
                                <br/>  
                            </p>
                        </li>
                    </ul>
                </p>  
            </div>
        </div>
    </body>
    {{> footer}}
</html>
