<!DOCTYPE html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>SmartHome. Контакты</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>

    <body>
        <div class="page">
            {{> menu}}
            <div id="content">
                <h1 style="text-align: center; margin: auto;"> Наши контакты:</h1>

                <p class="page-text">
                        Телефоны:
                        <ul class="page-ul">
                                <li>Заказать услугу: +7(xxx)xxx-xx-xx</li>
                                <li>Сотрудничество: +7(xxx)xxx-xx-xx</li>
                        </ul>
                </p>
                <p class="page-text">
                    Адрес:
                </p>
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A288df3bbe0c83122042ff9109e1ddf1170a7a01d642cab13d6e5381a6334633f&amp;width=800&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>        
                
                <p align="center">
                        ул. Юности, дом 15
                </p>
            </div>
        </div> 
    </body>
    {{> footer}}
</html>

