<!DOCTYPE html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>SmartHome. Главная</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
        <div class="page">
        {{> menu}}
        <div id="content">
            <h1 style="text-align: center; margin: auto;"><a name="about_system"></a>Smart Home </h1>
            <p class="page-text">
               SmartHome - система для управления умного дома. Система предназначена для обеспечения комфортного пользования устройствами, подключенными к системе, сбора информации с датчиков в реальном времени и обеспечения безопасности.
            </p>
            <p class="page-text">
                Данная система предоставляет пользователю множество функций, среди которых:

                <ul class="page-ul">
                    <li>Отображение текущего состояния системы</li>
                    <li>Взаимодействие с подключенными устройтсвами</li>
                    <li>Просмотр истории показаний с датчиков</li>
                </ul>
            </p>        
            <p class="page-text">
                <strong>Содержание страницы</strong>
                <nav> 
                <ol class="page-ul">
                    <li><a href="#about_system">Описание системы</a></li>
                    <li><a href="#screenshots">Скриншот программы</a></li>
                    <li><a href="#video">Видео демонстрации работы</a></li>
                </ol>
                </nav> 
            </p>
            <p align="center"><a name="screenshots"></a>            
                Скриншот программы SmartHome <br/>
                <img style="margin: 0 auto" alt="Скриншот" src="./image/ScreenMainWirndow.jpg">
            </p>
            <p align="center"><a name="video"></a>            
                    Демонстрация работы системы <br/>
                    <iframe src="//vk.com/video_ext.php?oid=96769369&id=456239208&hash=94b4e800e7135679&hd=2" width="644" height="360" frameborder="0" allowfullscreen></iframe>

            </p>
        </div>
        </div>
        
    </body>
    {{> footer}}
</html>
