<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>SmartHome. Регистрация</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        {{!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" /> --}}
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    </head>

    <body>
        <div class="page">
            {{> menu}}
            <div id="content" style="text-align:center">
                 <div style= "margin: 15px; width: 35%; display: inline-block;">
                    <h2 class="form-signin-heading" style="-webkit-margin-before: 0px; -webkit-margin-after:10px;"> Регистрация: </h2>
                    <form class="form-signin" method="post" name="userForm">
                        <label for="inputName" class="sr-only">Имя</label>
                        <input name="name" type="text" id="inputName" class="form-control" placeholder="Имя" required="" autofocus="">
                        <br/>
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="E-mail" required="" autofocus="">
                        <br/>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Пароль" required="">
                        <br/>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    {{> footer}}

    <script>
         //добавим юзера в БД
        function CreateUser(userEmail, userName, userPass){
            var emailExp = /(@.+\..{2,4})$/;
            var nameExp = /.{4}/
            var passExp = /.{6}/
            var maxLenth = /.{51}/
            if (!emailExp.test(userEmail) || maxLenth.test(userEmail)) {
                alert("Введите корректный e-mail!");
                return;
            };
            if (!nameExp.test(userName) || maxLenth.test(userName)) {
                alert("Имя должно содержать от 4 до 50 символов!");
                return;
            };
            if (!passExp.test(userPass) || maxLenth.test(userPass)) {
                alert("Пароль должен содержать от 6 до 50 символов!");
                return;
            };
            $.ajax({
                url: "/api/users",
                contentType: "application/json",
                method: "POST",
                data: JSON.stringify({
                    email: userEmail,
                    name: userName,
                    pass: userPass
                }),
                success: function(user){
                    console.log("success");
                    var cookieName = "myUserName"
                    setCookie(cookieName, user.name, 1);
                    console.log("70: " + document.cookie);
                    alert("Вы успешно зарегистрированны в системе!");
                    window.open("/index.html","_self")
                    //reset();
                    //$("table tbody").append(row(user));
                },
                error: function(){
                    alert("Не удалось зарегистрироваться!"+"\n"+"Проверьте корректность данных.");
                }
            });
        }
       
        // сброс формы
        function reset() {
            var form = document.forms["userForm"];
            form.reset();
            form.elements["id"].value = 0;
        }

        // сброс значений формы
        $("#reset").click(function (e) {  
            e.preventDefault();
            reset();
        })

         // отправка формы
         $("form").submit(function (e) {
            e.preventDefault();
            var id = this.elements["id"].value;
            var email = this.elements["email"].value;
            var name = this.elements["name"].value;
            var pass = this.elements["pass"].value;
            CreateUser(email, name, pass);
        });
    </script>
</html>
