<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>SmartHome. Личный кабинет</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>

    <body>
        <div class="page">
            {{> menu}}
            <div id="content">
                <h1 style="text-align: center; margin: auto;"> Личный кабинет:</h1>         
            </div>
        </div>
    </body>
    {{> footer}}
</html>
