.menu {text-align: right; padding-top: 5px; margin: 0 10px}
.menu-item{margin-left: 5px; margin-right: 5px;}

body {background-image: url(./../image/background.jpg); background-attachment: fixed}

.page { border-radius:10px; border: 1px solid #ccddee; 
        width: 800px; margin: 10px auto;
        background: white; 
        box-shadow: 0 0 75px rgba(0,0,0,0.25);
}
.page-text {text-indent: 25px; margin: 5px 20px; text-align:justify; font-size: 1.1em;}
.page-ul {margin:0 20px; font-size: 1.1em;}

#parent_popup {
        background: #00000055;
        height: 100%;
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;
        left: 0;
}
#popup {
        background-color: #ffffff;
        position: fixed;
        top: 100px;
        left: 40%;
        width: 240px;
        border-radius: 10px;
        padding: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 0px 0 10px;
  padding: 15px 0 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgb(220, 255, 252);
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: " ";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  margin: 0 30px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .0,4s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #2196F3;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #2196F3;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}